{% extends 'base.html' %}
{% block title %} Add Feedback {% endblock %}
{% block content %}
<h1>New Feedback</h1>

<!-- {% for msg in get_flashed_messages() %}
<div class="alert-success">
    {{msg}}
</div>
<p></p>
{% endfor %} -->

<div>
    <form method="post">
        <h2>New Feedback</h2>
        {{form.hidden_tag()}}

        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}

            {% for error in field.errors %}
            <span class='error'>{{error}}</span>
            {% endfor %}
        </p>
        {% endfor %}

        <button type="submit">Post Feedback</button>
    </form>
</div>

{% endblock %}