{% extends 'base.html' %}
{% block title %} Secret {% endblock %}
{% block content %}
<h1>Secret Page</h1>

    {% for msg in get_flashed_messages() %}
    <div class="alert-success">
        {{msg}}
    </div>
    <p></p>
    {% endfor %}

<div>
    <blockquote>Welcome {{user.first_name}} {{user.last_name}}!</blockquote>
    <p>First Name: <em>{{user.first_name}}</em></p>
    <p>Last Name: <em>{{user.last_name}}</em></p>
    <p>Email: <em>{{user.email}}</em></p>

    <h2>Feedbacks</h2>
    <ul>
        {% for f in feedback %}
        <li><a href="/feedback/{{f.id}}">{{f.title}}</a>
        <a href="/feedback/{{f.id}}/update"><button class="tag">Edit</button></a></li>
        <form action="/feedback/{{f.id}}/delete" method="post">
            <a href="/"><button class="tag">Delete</button></a></li>
        </form>
        {% endfor %}
    </ul>

    <a href="/users/{{user.username}}/feedback/add"><button>New Feedback</button></a></li>
    <form action="/users/{{user.username}}/delete" method="post">
        <a href="/"><button>Delete</button></a></li>
    </form>

</div>

{% endblock %}